.fl {
  float: left;
}
.fr {
  float: right;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
svg {
  fill: currentColor;
}
path {
  fill: unset;
}
.head {
  height: 60px;
  width: 100%;
}
.top-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.top-nav .loge {
  display: block;
  width: 220px;
}
.top-nav .nav-main {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .nav-main .nav-item {
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px;
}
.top-nav .nav-main .nav-item .app-download {
  display: inline-block;
  text-align: center;
  padding: 9px 7px;
  border: 1px solid #ff4905;
  color: #ff4905;
  border-radius: 5px;
}
.top-nav .nav-right {
  display: flex;
  width: 315px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.top-nav .nav-right .searcher {
  height: 28px;
  width: 150px;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  background: url(../img/etk_09.jpg) no-repeat 95% center;
}
.top-nav .nav-right .searcher input {
  width: 110px;
  height: 100%;
  margin-left: 10px;
  border: none;
  outline: none;
  border-right: 1px solid #e6e6e6;
}
.top-nav .nav-right .im {
  width: 30px;
  height: 30px;
}
.top-nav .nav-right .im a {
  display: block;
  width: 100%;
  height: 100%;
}
.top-nav .nav-right .car {
  background: url(../img/shopbar.jpg) no-repeat center;
}
.top-nav .nav-right .erweima {
  background: url(../img/ujyx_14.jpg) no-repeat center;
}
.top-nav .nav-right .right-r {
  font-size: 14px;
  font-weight: 700;
}
.footer {
  height: 170px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.footer .aboutme {
  font-size: 12px;
  line-height: 60px;
}
.footer .aboutme a {
  color: #fff;
}
.footer .copyright {
  font-size: 12px;
  line-height: 60px;
}
